@font-face {
  font-family: PPNeue;
  src: url(./PPNeueMachina.ttf);
}

*{
  font-family: PPNeue;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

.container{
  min-width: 300px;
max-width: 40vw;
}

.container h2{
  font-size: 38px;
  text-align: center;
  background-color: orange;

}

.container p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;

}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  width: 100vw;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
